@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
.modal-title {
  @apply text-xl font-semibold;
}
/* End of Typography */

/* Form */
.mini-input {
  @apply h-10 w-full rounded-md border-2 border-black bg-white px-2 text-black transition-colors placeholder:text-transparent autofill:bg-white focus:outline-none;
}

.is-valid {
  @apply border-sky-500;
}

.is-invalid {
  @apply border-red-600;
}

.invalid-feedback {
  @apply text-sm text-red-500;
}

.floating-label {
  @apply absolute -top-2.5 left-2 z-10 rounded-md bg-white px-2 text-sm font-semibold  transition-all  peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:font-semibold;
}

.float-label-black {
  @apply text-black peer-placeholder-shown:text-black;
}
.float-label-error {
  @apply text-red-500 peer-placeholder-shown:text-red-500;
}

.radio-label {
  @apply my-1 flex w-full justify-between rounded-md bg-gray-500 px-2 py-2 text-sm font-semibold text-white transition-all duration-200 peer-checked:bg-sky-500;
}

.svg-radio {
  @apply absolute bottom-0 right-3 top-0 my-auto w-[24px] scale-0 fill-white transition-all duration-200 peer-checked:scale-100;
}

.active-button {
  @apply bg-sky-600 text-white opacity-100 transition duration-300 hover:bg-sky-500 active:bg-sky-500;
}

.disabled-button {
  @apply cursor-not-allowed bg-gray-500 text-gray-400;
}

.input,
.select,
.textarea {
  @apply outline-none ring-0 focus:border-base-content/40 focus:outline-none focus:ring-0;
}

.select {
  @apply h-10 min-h-[42px];
}
/* End of Form */

/* Buttons */
.btn {
  @apply rounded-lg px-4;
}

.btn-primary,
.btn-error {
  @apply text-white;
}

.outline-white {
  @apply border-white text-white hover:bg-white hover:text-base-100;
}

.outline-base {
  @apply border-base-100 text-base-100 hover:bg-base-100 hover:text-white disabled:border-base-100 disabled:bg-transparent disabled:text-base-100 disabled:opacity-50;
}

.btn-icon-primary {
  @apply hover:text-primary max-sm:focus:text-primary;
}

.btn-icon-error {
  @apply hover:text-error max-sm:focus:text-error;
}

.btn-icon-accent {
  @apply hover:text-accent max-sm:focus:text-accent;
}

.btn-icon-success {
  @apply hover:text-success max-sm:focus:text-success;
}

.btn-icon-primary,
.btn-icon-error,
.btn-icon-accent,
.btn-icon-success {
  @apply bg-transparent text-gray-600 transition-all;
}
/* End of Buttons */

/* Miscellaneous*/
.parent-hover:hover:not(:has(ul.dropdown-content:hover)) {
  --tw-bg-opacity: 0.5;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
}
/* End of Miscellaneous */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .sidebar-svg {
    @apply h-7 w-7 lg:h-6 lg:w-6;
  }

  .sidebar-menu-text {
    @apply ms-2 text-lg sm:ms-1 sm:text-sm sm:font-semibold;
  }

  .product-parent-row {
    @apply grid h-fit w-full grid-cols-5 items-center justify-items-stretch rounded-md bg-white px-3 py-3 text-neutral shadow-md md:grid-cols-8 lg:grid-cols-10 xl:grid-cols-12;
  }

  .product-collapse-content {
    @apply col-span-3 grid w-full items-center gap-x-3 justify-self-center md:col-span-6 md:grid md:grid-cols-3 lg:col-span-8 lg:grid-cols-4 lg:gap-x-0 xl:col-span-10 xl:grid-cols-5 2xl:grid-cols-6;
  }

  .product-price-variant {
    @apply hidden grid-cols-1 items-center gap-y-2 justify-self-end md:grid lg:col-span-2 lg:grid-cols-2 lg:justify-self-center xl:col-span-1 xl:grid-cols-1 xl:justify-self-end 2xl:col-span-2 2xl:grid-cols-2 2xl:justify-self-center;
  }
}
