@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */
.modal-title {
  @apply text-xl font-semibold;
}
/* End of Typography */

/* Form */
.mini-input {
  @apply h-10 w-full rounded-md border-2 border-black bg-white px-2 text-black transition-colors placeholder:text-transparent autofill:bg-white focus:border-sky-700 focus:outline-none;
}

.is-valid {
  @apply border-sky-500;
}

.is-invalid {
  @apply border-red-600;
}

.invalid-feedback {
  @apply text-sm text-red-500;
}

.floating-label {
  @apply absolute -top-2.5 left-2 z-10 rounded-md bg-white px-2 text-xs font-semibold text-black transition-all  peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:font-semibold peer-placeholder-shown:text-black peer-focus:text-sky-700 md:text-sm;
}

.radio-label {
  @apply my-1 flex w-full justify-between rounded-md bg-gray-500 px-2 py-2 text-sm font-semibold text-white transition-all duration-200 peer-checked:bg-sky-500;
}

.svg-radio {
  @apply absolute bottom-0 right-3 top-0 my-auto w-[24px] scale-0 fill-white transition-all duration-200 peer-checked:scale-100;
}

.active-button {
  @apply bg-sky-600 text-white opacity-100 transition duration-300 hover:bg-sky-500 active:bg-sky-500;
}

.disabled-button {
  @apply cursor-not-allowed bg-gray-500 text-gray-400;
}

.input {
  @apply outline-none ring-0 focus:outline-none focus:ring-0;
}
/* End of Form */

/* Buttons */
.btn {
  @apply w-fit rounded-lg px-4;
}

.btn-primary,
.btn-error {
  @apply text-white;
}

.outline-white {
  @apply border-white text-white hover:bg-white hover:text-base-100;
}

.outline-base {
  @apply border-base-100 text-base-100 hover:bg-base-100 hover:text-white disabled:border-base-100 disabled:bg-transparent disabled:text-base-100 disabled:opacity-50;
}

.btn-icon-primary {
  @apply hover:text-primary;
}

.btn-icon-error {
  @apply hover:text-error;
}

.btn-icon-primary,
.btn-icon-error {
  @apply bg-transparent text-gray-600 transition-all;
}
/* End of Buttons */

/* Miscellaneous*/
.parent-hover:hover:not(:has(ul.dropdown-content:hover)) {
  --tw-bg-opacity: 0.5;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
}
/* End of Miscellaneous */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
