@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.navbar-fixed {
  @apply fixed z-[9999] bg-opacity-70;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.hamburger-line {
  @apply my-2 block h-[2px] w-[30px] bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.active-link {
  @apply text-sky-600 lg:text-white;
}

.disabled-link {
  @apply cursor-default text-yellow-400;
}
/* End of Navbar */

/* Typography */
.judul {
  @apply mb-10 mt-10 text-center text-2xl font-bold text-sky-600 md:mb-14 md:mt-14 md:text-3xl xl:mt-10;
}
/* End of Typography */

/* Form */
.mini-input {
  @apply h-10 w-full rounded-md border-2 border-black bg-white px-2 text-black transition-colors placeholder:text-transparent autofill:bg-white focus:border-sky-700 focus:outline-none;
}

.is-valid {
  @apply border-sky-500;
}

.is-invalid {
  @apply border-red-600;
}

.invalid-feedback {
  @apply text-sm text-red-500;
}

.floating-label {
  @apply absolute -top-2.5 left-2 z-10 rounded-md bg-white px-2 text-xs font-semibold text-black transition-all  peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:font-semibold peer-placeholder-shown:text-black peer-focus:text-sky-700 md:text-sm;
}

.radio-label {
  @apply my-1 flex w-full justify-between rounded-md bg-gray-500 px-2 py-2 text-sm font-semibold text-white transition-all duration-200 peer-checked:bg-sky-500;
}

.svg-radio {
  @apply absolute bottom-0 right-3 top-0 my-auto w-[24px] scale-0 fill-white transition-all duration-200 peer-checked:scale-100;
}

.active-button {
  @apply bg-sky-600 text-white opacity-100 transition duration-300 hover:bg-sky-500 active:bg-sky-500;
}

.disabled-button {
  @apply cursor-not-allowed bg-gray-500 text-gray-400;
}
/* End of Form */

/* Miscellaneous*/
.for-arrange {
  @apply mx-auto flex h-full max-w-[1080px] flex-col justify-center p-5 transition-all duration-300;
}
/* End of Miscellaneous */

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
